body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

/*.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 4.5px;
}
*/
g circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

g {
  font: 10px sans-serif;
}

.spouse text {
  opacity: .5;
}

.m circle {
  stroke: steelblue;
}
.f circle {
  stroke: #c66;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}

.link.spouse {
  fill: none;
  stroke: salmon;
  stroke-width: 1px;
}
