html {
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  height: 100%;
  overflow: hidden;
  margin-top: 51px;

  background: url(/images/splash2.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

body.modal-open {
  margin-right: 0;
}

.navbar-btn {
  margin-left: 12px;
}

#wrapper {
  height: 100%;
}

#interface {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  background: #9fdfef;
}

#col-main {
  height: 100%;
  overflow: auto;
}

#col-filter {
  background: #fafafa;
  border: 1px solid #ccc;
  /*height: 100%;*/
  position: absolute;
  top: 60px;
  left: 10px;
  border-radius: 6px;
  z-index: 1;
}

#col-filter .search-wrap {
  padding: 10px 0;
  background: #fafafa;
  border-bottom: 1px solid transparent;
  z-index: 1;
  position: relative;
}

#col-filter:hover ul {
  opacity: 1;
  height: auto;
  max-height: 400px;
}

#col-filter ul {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  opacity: 0;
  height: 0;

  list-style: none;
  width: 100%;

  overflow: auto;
  margin: 0;
  padding: 0;
}

#col-filter li {
  padding: 2px 0 2px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

#col-filter li strong {
  display: block;
}

#col-filter li:last-child {
  border-bottom: 0;
}

#col-filter li:hover {
  background-color: #ededed;
}

#col-filter li span {
  font-size: 11px;
  color: #888;
}

#col-canvas .controls {
  position: absolute;
  left: -999px;
}

#col-data {
  border-top: 1px solid #ccc;
  padding-top: 15px;
}

#col-data li {
  cursor: pointer;
}

#col-intro {
  height: 100%;
  overflow: auto;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 2px #333;
}

#col-intro h1 {
  margin-top: 140px;
}

.modal-dialog {
  width: 720px;
}

.modal-content {
  /*background-image: url(/images/tree_example.jpg);*/
  background-position: 50% 50%;
}

.modal-header,
.modal-footer {
  background-color: #fff;
  border-radius: inherit;
}

.modal-form select {
  width: 50%;
  display: inline;
}
.panel-instruct {
  text-align: center;
  margin-top: 100px;
}

g circle {
  fill: transparent;
  stroke: steelblue;
  stroke-width: 1.5px;
}

g {
  font: 10px sans-serif;
}

.spouse text {
  opacity: .5;
}

.m, .f {
  cursor: pointer;
}

.placeholder {
  cursor: default;
}

.m circle {
  stroke: steelblue;
  fill: lightblue;
}

.f circle {
  stroke: #c66;
  fill: gainsboro;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}

.link.spouse {
  fill: none;
  stroke: salmon;
  stroke-width: 1px;
}

.copyright {
  position: absolute;
  bottom: 0;
  right: 12px;
  font-size: 12px;
}

/* header */
.tree-name {
  position: absolute;
  top: 0;
  left: 40%;
  width: 20%;
  font-size: 24px;
  line-height: 200%;
  color: #fafafa;
  text-align: center;
}

.action-list table tr td {
  line-height: 2.22;
  cursor: pointer;
}

.action-list td .pull-right {
  display: none;
}

.action-list td:hover .pull-right {
  display: block;
}