html {
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  height: 100%;
  overflow: hidden;
  margin-top: 51px;
}

body.modal-open {
  margin-right: 0;
}

.navbar-btn {
  margin-left: 12px;
}

#wrapper {
  height: 100%;
}

#interface {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 50px;
}

#col-main {
  height: 100%;
  overflow: auto;
}

#col-filter {
  background: #fafafa;
  border-right: 1px solid #ccc;
  height: 100%;
}

#col-filter .search-wrap {
  padding: 10px 0;
  background: #fafafa;
  border-bottom: 1px solid #ccc;
  z-index: 1;
  position: relative;
}

#col-filter ul {
  position: absolute;
  top: 55px;
  bottom: 0;
  left: 0;

  list-style: none;
  width: 100%;

  overflow: auto;
  margin: 0;
  padding: 0 15px 0;
}

#col-filter li {
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

#col-filter li:last-child {
  border-bottom: 0;
}

#col-filter li:hover {
  background-color: #ededed;
}

/*#col-canvas,
#col-data {
  height: 50%;
  overflow: auto;
}
*/

#col-canvas .controls {
  position: absolute;
  left: -999px;
}

#col-data {
  border-top: 1px solid #ccc;
  padding-top: 15px;
}

#col-data li {
  cursor: pointer;
}

#col-intro {
  height: 100%;
  overflow: auto;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 2px #333;
  background: url(/images/splash2.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

#col-intro h1 {
  margin-top: 140px;
}

.modal-content {
  background-image: url(/images/tree_example.jpg);
  background-position: 50% 50%;
}

.modal-header,
.modal-footer {
  background-color: #fff;
  border-radius: inherit;
}

.modal-form select {
  width: 50%;
  display: inline;
}
.panel-instruct {
  text-align: center;
  margin-top: 100px;
}

g circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

g {
  font: 10px sans-serif;
}

.spouse text {
  opacity: .5;
}

.m, .f {
  cursor: pointer;
}

.placeholder {
  cursor: default;
}

.m circle {
  stroke: steelblue;
}

.f circle {
  stroke: #c66;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}

.link.spouse {
  fill: none;
  stroke: salmon;
  stroke-width: 1px;
}

.copyright {
  position: absolute;
  bottom: 0;
  right: 12px;
  font-size: 12px;
}

/* header */
.tree-name {
  position: absolute;
  top: 0;
  left: 40%;
  width: 20%;
  font-size: 24px;
  line-height: 200%;
  color: #fafafa;
  text-align: center;
}