<div id="col-intro" ng-controller="AccountCtrl">
	<h1>Lyneage</h1>
	<p class="lead">Build your family tree. Share your history.</p>

	<p ng-hide="loggedIn()">
		<button ng-click="register()" class="btn btn-primary btn-lg">Register</button>
	  <button ng-click="login()" class="btn btn-success btn-lg">Sign in</button>
	</p>

	<p ng-show="loggedIn()" ng-click="logout()">Logout</p>

	<p class="copyright">Made by <a href="http://github.com/cameronbot" target="_blank">Cameron Hill</a> with AngularJS, d3, and Ruby on Rails. ♥</p>
</div>