<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
      <h4 class="modal-title">Sign up to get started</h4>
    </div>
    <div class="modal-body">

      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="login-email" class="col-lg-6 control-label">E-mail</label>
          <div class="col-lg-6">
            <input ng-model="$parent.credentials.email" type="email" class="form-control" id="login-email" placeholder="Email">
          </div>
        </div>
        <div class="form-group">
          <label for="login-password" class="col-lg-6 control-label">Password</label>
          <div class="col-lg-6">
            <input ng-model="$parent.credentials.password" type="password" class="form-control" id="login-password" placeholder="Password">
          </div>
        </div>
        <div class="form-group">
          <label for="login-password-confirm" class="col-lg-6 control-label">Confirm password</label>
          <div class="col-lg-6">
            <input ng-model="$parent.credentials.passwordConfirm" type="password" class="form-control" id="login-password-confirm" placeholder="Password">
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-12">
            <button ng-click="switch()" class="btn btn-primary pull-right">Register</button>
            <button class="btn btn-link pull-right" ng-click="cancel()">Sign in</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>

