<div ng-controller="TreesCtrl" ng-init="findOne()">
	<div id="interface" ng-controller="PeopleCtrl">
		<div id="col-filter" class="col-sm-3" ng-include="'views/people/partials/filter.html'"></div>
		<div id="col-main" class="col-sm-9" ng-show="activePerson._id">
			<div id="col-canvas" class="col-sm-12" ng-include="'views/people/partials/canvas.html'"></div>
			<div id="col-data" class="col-sm-12" ng-include="'views/people/partials/dataframe.html'"></div>
		</div>
		<div class="panel-instruct" class="col-sm-9" ng-hide="activePerson._id">
			<h2>Choose a person from the list</h2>
			<p>or...</p>
			<p><button class="btn btn-warn" ng-click="addPerson()">Add a new person</button></p>
		</div>
		
		<div class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h3 ng-show="action" class="modal-title">Link a {{action}} to {{activePerson.birth_name}}</h3>
						<h3 ng-hide="action" class="modal-title">Let's get started</h3>
					</div>
					<div class="modal-body" ng-show="suggestedRelatives.length > 0">
						<h4>Select existing person</h4>

						<form class="form-horizontal" role="form" ng-submit="updateRelation()">
						  <div class="form-group">
						    <label for="relative" class="col-sm-3 control-label">Select {{action}}</label>
						    <div class="col-sm-9">
						      <select ng-model="relation" name="relative" ng-options="r._id as r.birth_name for r in suggestedRelatives.existing">
						      </select>
						    </div>
						  </div>
						  <div class="form-group">
						    <div class="col-sm-offset-3 col-sm-9">
						      <button type="submit" class="btn btn-default">Add {{action}}</button>
						    </div>
						  </div>
						</form>
					</div>
					<div class="modal-body">
						<h4>Add a new person</h4>	

						<form class="form-horizontal" role="form" ng-submit="create()">
						  <div class="form-group">
						    <label for="birthname" class="col-sm-3 control-label">Birth name</label>
						    <div class="col-sm-9">
						      <input ng-model="person.birth_name" type="text" class="form-control" id="birthname" placeholder="Birth name">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="gender" class="col-sm-3 control-label">Gender</label>
						    <div class="col-lg-9">
						      <label class="radio-inline">
						        <input type="radio" name="gender" ng-model="person.gender" value="1"> Male
						      </label>
						      <label class="radio-inline">
						        <input type="radio" name="gender" ng-model="person.gender" value="2"> Female
						      </label>
						    </div>
						  </div>
						  <div class="form-group" ng-show="action == 'child'">
						    <label for="parents" class="col-sm-3 control-label">Parents</label>
						    <div class="col-sm-9">
						      {{activePerson.birth_name}} and
						      <select ng-model="additionalRelation" name="relative" ng-options="r._id as r.birth_name for r in suggestedRelatives[action]">
						      </select>
						    </div>
						  </div>
						  <div class="form-group" ng-show="action == 'spouse'">
						    <label for="parents" class="col-sm-3 control-label">Children</label>
						    <div class="col-sm-9">
						    	<label ng-repeat="r in suggestedRelatives[action]">
										<input type="checkbox" name="suggestedRelatives[]" value="{{r._id}}" ng-checked="r.checked" ng-model="r.checked"> {{r.birth_name}}
						    	</label>
						    </div>
						  </div>
						  <div class="form-group" ng-show="action == 'parent'">
						    <label for="parents" class="col-sm-3 control-label">Spouse?</label>
						    <div class="col-sm-9">
						      <select ng-model="additionalRelation" name="relative" ng-options="r._id as r.birth_name for r in suggestedRelatives[action]">
						      </select>
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="dob" class="col-sm-3 control-label">Date of birth</label>
						    <div class="col-sm-6 row">
						      <div class="col-xs-4">
						        <input type="text" class="form-control" name="dob_m" ng-model="person.dob_m" placeholder="MM">
						      </div>
						      <div class="col-xs-4">
						        <input type="text" class="form-control" name="dob_d" ng-model="person.dob_d" placeholder="DD">
						      </div>
						      <div class="col-xs-4">
						        <input type="text" class="form-control" name="dob_y" ng-model="person.dob_y" placeholder="YYYY">
						      </div>
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="dob" class="col-sm-3 control-label">Date of death</label>
						    <label class="radio-inline class-sm-9" ng-show="person.living">
					        <input type="checkbox" name="living" ng-model="person.living" value="true"> Living
					      </label>
						    <div class="col-sm-6 row" ng-hide="person.living">
						      <div class="col-xs-4">
						        <input type="text" class="form-control" name="dod_m" ng-model="person.dod_m" placeholder="MM">
						      </div>
						      <div class="col-xs-4">
						        <input type="text" class="form-control" name="dod_d" ng-model="person.dod_d" placeholder="DD">
						      </div>
						      <div class="col-xs-4">
						        <input type="text" class="form-control" name="dod_y" ng-model="person.dod_y" placeholder="YYYY">
						      </div>
						    </div>
						  </div>
						  
						  <div class="form-group">
						    <div class="col-sm-offset-3 col-sm-9">
						      <button type="submit" class="btn btn-default">Create person</button>
						    </div>
						  </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
