<div class="modal show" ng-controller="TreesCtrl" ng-init="find()">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">Open a saved tree</h2>
			</div>
			<div class="modal-body action-list">
				<p ng-show="trees.length == 0">No saved trees! Please create a new one first.</p>
				<table class="table table-hover">
					<tbody>
						<tr ng-repeat="tree in trees" ng-click="view(tree)">
							<td>
								{{tree.name}} ({{tree.person_count || 0}} people)
								<div class="pull-right">
									<button class="btn btn-info btn-sm">Edit</button>
									<button class="btn btn-danger btn-sm">Delete</button>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<form class="form-inline row" role="form" ng-submit="create()">
								  <div class="form-group col-sm-3">
								    <label for="tree-name" class="control-label">Create a new tree</label>
								  </div>
								  <div class="pull-right col-sm-9">
								  	<div class="form-group">
								    	<input ng-model="tree.name" type="text" class="form-control" id="tree-name" placeholder="Tree name">
								    </div>
								    <div class="form-group">
								  		<button type="submit" class="btn btn-prmary">Create Tree</button>
								  	</div>
								  </div>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>