<div ng-controller="TreesCtrl" ng-init="findOne()">
	<h2>{{tree.name}}</h2>
	<p>{{tree.description}}</p>

	<button ng-click="showModal()" class="btn btn-default">Add new person</button>

	<table ng-controller="PeopleCtrl" class="table table-striped">
		<thead>
			<tr>
				<th></th>
				<th>Name</th>
				<th>Gender</th>
				<th>Parents</th>
				<th>Spouses</th>
				<th>Children</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="person in people">
				<td>
					<button ng-click="editForm(person)" class="btn btn-default">Edit</button>
				</td>
				<td>
					<a name="{{person._id}}"></a>
					<span title="{{person._id}}">{{person.birth_name}}</span>
					<svg tree person="person" width="400" height="200"></svg>
				</td>
				<td>{{person.gender}}</td>
				<td>
					<a ng-repeat="parent in person.parent_ids" href="#{{parent}}">{{_people[parent].birth_name}}<br></a>
					<button ng-click="showForm({ create: 'parent', root: person })" ng-hide="person.parent_ids.length >= 2" class="btn btn-default">Add parent</button>
				</td>
				<td>
					<a ng-repeat="spouse in person.spouse_ids" href="#{{spouse}}">{{_people[spouse].birth_name}}<br></a>
					<button ng-click="showForm({ create: 'spouse', root: person })" class="btn btn-default">Add spouse</button>
				</td>
				<td>
					<a ng-repeat="child in person.child_ids" href="#{{child}}">{{_people[child].birth_name}}<br></a>
					<button ng-click="showForm({ create: 'child', root: person })" class="btn btn-default">Add child</button>
				</td>
			</tr>
		</tbody>
	</table>

<!-- 	<h4>Dictionary _people</h4>
	<ul>
		<li ng-repeat="(id, person) in _people">{{id}} {{person.birth_name}}</li>
	</ul>
 -->

</div>