<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex4-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#/trees">Lyneage</a>
  </div>
  <div class="collapse navbar-collapse navbar-ex4-collapse">
    <div ng-controller="LoginModalCtrl">
      <button ng-click="logout()" ng-show="loggedIn" class="btn btn-link navbar-btn pull-right">Logout</button>
      <button ng-click="modalOpen()" ng-hide="loggedIn" class="btn btn-success navbar-btn pull-right">Sign in</button>
    </div>
      <button ng-controller="RegisterModalCtrl" ng-hide="loggedIn" ng-click="modalOpen()" class="btn btn-primary navbar-btn pull-right">Register</button>
    </div>
  </div>
</nav>