<div tree person="activePerson">
	<div class="controls" ng-hide="clickedPersonId" style="position: absolute; left: -999px;">
		<div class="controls-pane">
			<div class="btn-group" style="position: relative; left: -50%;">
			  <button ng-click="$parent.selectPerson(clickedPersonId)" type="button" class="btn btn-default"><i class="glyphicon glyphicon-user"></i></button>
			  <button ng-click="$parent.addRelation({ create: 'child', root: clickedPersonId })" type="button" class="btn btn-default"><i class="glyphicon glyphicon-link"></i> child</button>
			  <button ng-click="$parent.addRelation({ create: 'spouse', root: clickedPersonId })" type="button" class="btn btn-default"><i class="glyphicon glyphicon-link"></i> spouse</button>
			  <button type="button" class="btn btn-default" ng-click="toggle = true"><i class="glyphicon glyphicon-remove"></i></button>
			</div>
		</div>
	</div>
</div>
