<button ng-click="editForm(activePerson)" class="btn btn-default pull-right">Edit</button>
<h4>{{activePerson.birth_name}}</h4>

<div class="row">
	<div class="col-lg-6">
		{{activePerson.dob}} - {{activePerson.dod}}

		<h5>Bio</h5>
		<p><em>No bio added</em></p>
	</div>
	<div class="col-lg-6">
		<h5>Parents</h5>
		<ul>
			<li ng-repeat="p in activePerson.parent_ids" ng-click="$parent.selectPerson(p)">
				{{_people[p].birth_name}}
			</li>
		</ul>
		<button ng-click="addRelation({ create: 'parent', root: activePerson })" ng-hide="activePerson.parent_ids.length >= 2" class="btn btn-default">Add parent</button>
	
		<h5>Children</h5>
		<ul>
			<li ng-repeat="p in activePerson.child_ids" ng-click="$parent.selectPerson(p)">
				{{_people[p].birth_name}}
			</li>
		</ul>
		<button ng-click="addRelation({ create: 'child', root: activePerson })" class="btn btn-default">Add child</button>

		<h5>Spouses</h5>
		<ul>
			<li ng-repeat="p in activePerson.spouse_ids" ng-click="$parent.selectPerson(p)">
				{{_people[p].birth_name}}
			</li>
		</ul>
		<button ng-click="addRelation({ create: 'spouse', root: activePerson })" class="btn btn-default">Add spouse</button>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<h5>Sources:</h5>

		<p><em>No sources added</em></p>
	</div>
</div>