<div class="search-wrap">
		<input type="text" class="form-control search-query" placeholder="Search for people" ng-model="searchText" />
</div>
<ul>
	<li ng-repeat="person in _peopleIndex | orderBy:'dob_d' | filter:{ birth_name: searchText }" ng-click="selectPerson(person._id)">
		<strong title="{{person._id}}">{{person.birth_name}}</strong>
		<span class="pull-right" ng-show="person.dod.y">
			&nbsp;
			<em>d.</em> {{person.dod.y}}
		</span>
		<span class="pull-right" ng-show="person.dob.y">
			<em>b.</em> {{person.dob.y}}
		</span>
		
	</li>
</ul>